<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<script src="../vue.js"></script>
</head>
<body>
<div id="root">
	<label>
		<input placeholder="请输入名字" type="text" v-model="keyWord"></input>
	</label>
	<ul>
		<!--遍历数组-->
		<li :key="index" v-for="(p,index) in filePersons">  <!--key是唯一的-->
			{{ p }}
			{{ p.name }} - {{ p.id }} - {{ p.sex }}
		</li>
	</ul>
</div>

<script>
	//用watch实现
	/*
	new Vue({
		el: '#root',
		data: {
			keyWord: '',
			persons: [
				{id: '001', name: '御坂美琴', sex: '女'},
				{id: '002', name: '结城明日奈', sex: '女'},
				{id: '003', name: '桐谷和人', sex: '男'},
				{id: '004', name: '上条当麻', sex: '男'}
			],
			filePersons:[]
		},
		watch: {
			// keyWord(val) {
			// 	this.persons = this.persons.filter(p => {      //filter过滤
			// 		return p.name.indexOf(val) !== -1   //indexOf() 功能：返回字符串中匹配子串的第一个字符的下标,indexOf中空字符串为0不为-1
			// 	})
			// }
			keyWord: {
				immediate:true,
				handled(val) {
					this.filePersons = this.persons.filter(p => {      //filter过滤
						return p.name.indexOf(val) !== -1   //indexOf() 功能：返回字符串中匹配子串的第一个字符的下标,indexOf中空字符串为0不为-1
						})
					}
				}
			},
		})
	*/
	
	//用computed实现
	new Vue({
		el: '#root',
		data: {
			keyWord: '',
			persons: [
				{id: '001', name: '御坂美琴', sex: '女'},
				{id: '002', name: '结城明日奈', sex: '女'},
				{id: '003', name: '桐谷和人', sex: '男'},
				{id: '004', name: '上条当麻', sex: '男'}
			],
		},
		computed: {
			filePersons() {
				return this.persons.filter((p) => {
					return p.name.indexOf(this.keyWord) !== -1
				})
			}
		}
	})
</script>
</body>
</html>
