<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<script src="../vue.js"></script>
</head>
<body>
<div id="root">
	<label>
		<input placeholder="请输入名字" type="text" v-model="keyWord"></input>
	</label>
	<button @click="msg">更新信息</button>
	<ul>
		<!--遍历数组-->
		<li :key="index" v-for="(p,index) in persons">  <!--key是唯一的-->
			{{ p }}
			{{ p.name }} - {{ p.id }} - {{ p.sex }}
		</li>
	</ul>
</div>
<script>
	new Vue({
		el: '#root',
		data: {
			persons: [
				{id: '001', name: '御坂美琴', sex: '女'},
				{id: '002', name: '结城明日奈', sex: '女'},
				{id: '003', name: '桐谷和人', sex: '男'},
				{id: '004', name: '上条当麻', sex: '男'}
			],
		},
		methods: {
			msg() {
				// this.persons[0].name = '炮姐'//可以修改
				this.persons[0] = {id: '001', name: '炮姐', sex: '女'}//有问题
			}
		}
	})
</script>
</body>
</html>

