<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<script src="../vue.js"></script>
</head>
<body>
<div id="root">
	<form @submit.prevent="demo">
		<label for="demo">账号：</label>
		<input id="demo" type="text" v-model.trim="accout">
		<label for="demo1">密码：</label>
		<input id="demo1" type="password" v-model="password">
		年龄: <input type="number" v-model.number="age">
		性别：
		男<input name="sex" type="radio" v-model="sex" value="男">
		女<input name="sex" type="radio" v-model="sex" value="女">
		爱好：
		学习 <input type="checkbox" v-model="hobby" value="study">
		吃饭 <input type="checkbox" v-model="hobby" value="eat">
		下拉框：
		<select v-model='sel'>
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
		</select>
		其他：
		<textarea cols="30" id="" name="" rows="10" v-model.lazy="text"></textarea>
		同意：
		<input type="checkbox" v-model="agree">
		<button>点击</button>
	</form>
</div>

<script>
	const vm = new Vue({
		el: '#root',
		data: {
			accout: '',
			password: '',
			sex: '',
			hobby: [],
			sel: '',
			text: '',
			agree: '',
			age: ''
		},
		methods: {
			demo() {
				alert(JSON.stringify(this._data))
			}
		}
	})
</script>
</body>
</html>
